<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Il Mio Carrello</title>
	<link rel="stylesheet" href="/css/stileIndex.css">
</head>

<body>
	<div class="navbar">
		<div class="nav-links">
			<a href="/">Home</a>
			<a href="#">Prodotti</a>
			<a href="#">Categorie</a>
			<a href="#">Contatti</a>
			<div class="dropdown">
				<a href="#">Altro</a>
				<div class="dropdown-content">
					<a href="#">Offerte</a>
					<a href="#">FAQ</a>
				</div>
			</div>
		</div>

		<!--barra di ricerca-->
		<div class="search-bar">
			<form th:action="@{/ricercaHome}" method="post">
				<input type="text" th:value="${keyword}" placeholder="Cerca...">
				<button type="submit">Cerca</button>
			</form>
		</div>


		<!--login e registrazione in alto a destra-->
		<div th:if="${userDetails != null && googleDetails == null}" class="auth-links">
			<a th:href="@{/profile}">
				<span th:text="${userDetails.username}"></span>
			</a>
			<a href="/logout">Logout</a>
		</div>
		<div th:if="${userDetails == null && googleDetails != null}" class="auth-links">
			<a th:href="@{/profile}">
				<span th:text="${googleDetails}"></span>
			</a>
			<a href="/logout">Logout</a>
		</div>
		<div th:if="${userDetails == null && googleDetails == null}" class="auth-links">
			<a href="/login">Login</a>
			<a href="/register">Registrazione</a>
		</div>
	</div>
	
	<div class="products" th:unless="${cartItems.isEmpty()}">
		
		<h2>Il tuo Carrello</h2><br>

		<!-- è tipo un carosello dove ci sono tutti i prodotti -->
		<ul class="product-list">
			<li th:each="item : ${cartItems}">
				
				<!-- Ciclo sui prodotti del carrello -->
				<div class="product-item">
					<img th:src="@{/images/{file}(file=${item.product.imageFileName})}" alt="Prodotto" class="me-3">
					<div class="flex-grow-1">
						<h5 th:text="${item.product.name}">Prodotto</h5>
						<p class="text-muted"
							th:text="'Prezzo unitario: $' + ${#numbers.formatDecimal(item.prezzoPerUnita, 1, 2)}">
							Prezzo unitario</p>
						<p class="text-muted" th:text="'Quantit&aacute;: ' + ${item.quantita}">Quantità</p>
						<!--
						<div class="ms-3 text-end">
							<p class="fw-bold"
								th:text="'$' + ${#numbers.formatDecimal(item.prezzoPerUnita * item.quantita, 1, 2)}">
								Subtotale</p>
						</div>
						-->
						<a th:href="@{/carrello/carrelloItem/cancella/{id}(id=${item.product.id})}">
							<button class="cta-button">Rimuovi</button>
						</a>
					</div>
				</div>
			</li>

			<!-- Aggiungi altri prodotti dinamicamente -->
		</ul>
		<br><br><br><br>
		<div style="margin-top: 40px;">
			<h3>Totale:
				<span th:text="'$' + ${#numbers.formatDecimal(total, 1, 2)}">0.00</span>
			</h3>
			<a href="/checkout" class="cta-button">Procedi al pagamento</a>
		</div>
	</div>

	
	<!-- Messaggio se il carrello è vuoto-->
	<div th:if="${cartItems.isEmpty()}" class="hero">
		<p class="text-muted">Il tuo carrello &egrave; vuoto.</p>
		<a href="/" class="cta-button">Inizia A Fare Acquisti</a>
	</div>
</body>

</html>