<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Benvenuti su Amazzon</title>
	<link href="/css/stileIndex.css" rel="stylesheet" type="text/css">
</head>

<body>

	<!--il div che segue è per la barra di navigazione in alto-->
	<div class="navbar" id="navbar">
		<div class="nav-links">
			<a href="#">Home</a>
			<a href="#prodotti">Prodotti</a>
			<a href="#categorie">Categorie</a>
			<a href="#contatti">Contatti</a>

			<!--rappresenta il menù a tendina -->
			<div class="dropdown">
				<a href="javascript:void(0)">Altro</a>
				<div class="dropdown-content">
					<a href="#link1">Link 1</a>
					<a href="#link2">Link 2</a>
					<a href="#link3">Link 3</a>
				</div>
			</div>
		</div>

		<!--barra di ricerca-->
		<div class="search-bar">
			<input type="text" placeholder="Cerca...">
			<button type="button">Cerca</button>
		</div>

		<!--login e registrazione in alto a destra-->
		<div class="auth-links">
			<a href="/login">Login</a>
			<a href="/register">Registrazione</a>
		</div>
		<span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
	</div>

	<!--div principale, rappresenta la prima cosa che vede l'utente quando entra-->
	<div class="hero">
		<h1>Benvenuti su Amazon</h1>
		<p>Scopri i nostri prodotti esclusivi.</p>
		<a href="#prodotti" class="cta-button">Scopri di pi&uacute;</a>
	</div>

	<!--div per i prodotti in evidenza che scorre orizzontalmente-->
	<div class="products" id="prodotti">
		<h2>Prodotti in evidenza</h2>
		<div class="product-list">

			<!--primo prodotto-->
			<div class="product-item">
				<img src="/images/fotoGiacca.jpeg" alt="Prodotto1">
				<h3>Prodotto 1</h3>
				<p>Descrizione del prodotto 1.</p>
				<div class="price">&euro;49.99</div>
				<a href="#prodotto1" class="read-more">Acquista ora</a>
			</div>

			<!--secondo prodotto-->
			<div class="product-item">
				<img src="/images/fotoGiaccaUomo.jpeg" alt="Prodotto2">
				<h3>Prodotto 2</h3>
				<p>Descrizione del prodotto 2.</p>
				<div class="price">&euro;79.99</div>
				<a href="#prodotto2" class="read-more">Acquista ora</a>
			</div>

			<!--terzo prodotto-->
			<div class="product-item">
				<img src="/images/fotoGiaccaPelle.jpeg" alt="Prodotto 3">
				<h3>Prodotto 3</h3>
				<p>Descrizione del prodotto 3.</p>
				<div class="price">&euro;99.99</div>
				<a href="#prodotto3" class="read-more">Acquista ora</a>
			</div>

			<!--quarto prodotto-->
			<div class="product-item">
				<img src="/images/fotoGiaccaBrutta.jpeg" alt="Prodotto 4">
				<h3>Prodotto 4</h3>
				<p>Descrizione del prodotto 4.</p>
				<div class="price">&euro;59.99</div>
				<a href="#prodotto4" class="read-more">Acquista ora</a>
			</div>
		</div>
	</div>

	<!--div per i nuovi arrivi, i prodotti scorrono orizzontalmente-->
	<div class="products" id="nuovi-prodotti">
		<h2>Nuovi Arrivi</h2>

		<div class="product-list">

			<!--primo prodotto-->
			<div class="product-item">
				<img src="/images/fotoPantaloniDonna.jpeg" alt="Nuovo Prodotto 1">
				<h3>Nuovo Prodotto 1</h3>
				<p>Descrizione del nuovo prodotto 1.</p>
				<div class="price">&euro;69.99</div>
				<a href="#nuovo-prodotto1" class="read-more">Acquista ora</a>
			</div>

			<!--secondo prodotto-->
			<div class="product-item">
				<img src="/images/FotoTuta.jpeg" alt="Nuovo Prodotto 2">
				<h3>Nuovo Prodotto 2</h3>
				<p>Descrizione del nuovo prodotto 2.</p>
				<div class="price">&euro;89.99</div>
				<a href="#nuovo-prodotto2" class="read-more">Acquista ora</a>
			</div>

			<!--terzo prodotto-->
			<div class="product-item">
				<img src="/images/fotoPantaloniUomo.jpeg" alt="Nuovo Prodotto 3">
				<h3>Nuovo Prodotto 3</h3>
				<p>Descrizione del nuovo prodotto 3.</p>
				<div class="price">&euro;109.99</div>
				<a href="#nuovo-prodotto3" class="read-more">Acquista ora</a>
			</div>

			<!--quarto prodotto-->
			<div class="product-item">
				<img src="/images/fotoPantaloniBrutti.jpeg" alt="Nuovo Prodotto 4">
				<h3>Nuovo Prodotto 4</h3>
				<p>Descrizione del nuovo prodotto 4.</p>
				<div class="price">&euro;129.99</div>
				<a href="#nuovo-prodotto4" class="read-more">Acquista ora</a>
			</div>
		</div>
	</div>

	<!--div per i prodotti con offerte speciali, i prodotti scorrono orizzontalmente-->
	<div class="products" id="offerte-speciali">
		<h2>Offerte Speciali</h2>

		<!--primo prodotto-->
		<div class="product-list">
			<div class="product-item">
				<img src="/images/fotoScarpeBianche.jpeg" alt="Offerta 1">
				<h3>Offerta 1</h3>
				<p>Descrizione dell'offerta 1.</p>
				<div class="price">&euro;39.99</div>
				<a href="#offerta1" class="read-more">Acquista ora</a>
			</div>

			<!--secondo prodotto-->
			<div class="product-item">
				<img src="/images/fotoScarpeDonna.jpeg" alt="Offerta 2">
				<h3>Offerta 2</h3>
				<p>Descrizione dell'offerta 2.</p>
				<div class="price">&euro;49.99</div>
				<a href="#offerta2" class="read-more">Acquista ora</a>
			</div>

			<!--terzo prodotto-->
			<div class="product-item">
				<img src="/images/fotoScarpeEleganti.jpeg" alt="Offerta 3">
				<h3>Offerta 3</h3>
				<p>Descrizione dell'offerta 3.</p>
				<div class="price">&euro;59.99</div>
				<a href="#offerta3" class="read-more">Acquista ora</a>
			</div>

			<!--quarto prodotto-->
			<div class="product-item">
				<img src="/images/fotoScarpeVerdi.jpeg" alt="Offerta 4">
				<h3>Offerta 4</h3>
				<p>Descrizione dell'offerta 4.</p>
				<div class="price">&euro;69.99</div>
				<a href="#offerta4" class="read-more">Acquista ora</a>
			</div>
		</div>
	</div>

	<!--praticamente quando lo schermo diventa troppo piccolo questo script fa diminuire in automatico la navbar-->
	<script>
		function toggleMenu() {
			var navbar = document.getElementById('navbar');
			navbar.classList.toggle('responsive');
		}
	</script>
</body>

</html>