<!DOCTYPE html>
<html lang="it">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Area Privata Azienda</title>
		<link href="/css/StileIndex.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	
		<!--il div che segue è per la barra di navigazione in alto-->
		<div class="navbar" id="navbar">
			<div class="nav-links">
				<a href="/index">Home</a>
				<a href="#prodotti">Prodotti</a>
				<a href="#categorie">Categorie</a>
				<a href="#contatti">Contatti</a>
	
				<!--rappresenta il menù a tendina -->
				<div class="dropdown">
					<a href="javascript:void(0)">Altro</a>
					<div class="dropdown-content">
						<a href="#link1">Link 1</a>
						<a href="#link2">Link 2</a>
						<a href="#link3">Link 3</a>
					</div>
				</div>
			</div>
	
			<!--barra di ricerca-->
			<div class="search-bar">
				<input type="text" placeholder="Cerca...">
				<button type="button">Cerca</button>
			</div>
	
			<!--login e registrazione in alto a destra-->
			<th:if="${userDetails}" class="auth-links">
				<span th:text="${userDetails.username}">dsda</span>
				<a href="/logout">Logout</a>
			</div>
			<span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
		</div>
	
		<!--div principale, rappresenta la prima cosa che vede l'utente quando entra-->
		<div class="hero">
			<h1>Benvenuti nella tua Area Riservata</h1>
			<p>Scopri i nostri vantaggi esclusivi</p>
			<br><br><br>
		</div>
		
		<!-- Sezione Profilo Utente -->
		  <section class="user-profile">
		    <h2>Il Tuo Profilo</h2>
		    <p>Nome: <span th:text="${user.name}">Mario</span></p>
		    <p>Cognome: <span th:text="${user.surname}">Rossi</span></p>
		    <p>Indirizzo: 
		      <!--<span th:text="${userDetails.indirizzo != null ? userDetails.indirizzo : 'Non specificato'}">Via di default</span>-->
		    </p>
		    
		    <!-- Pulsanti/Link per le azioni -->
		    <div class="profile-actions">
		      <a th:href="@{/inserisciIndirizzo}" class="cta-button">Inserisci Indirizzo di Consegna</a>
		      <a th:href="@{/metodoPagamento}" class="cta-button">Metodo di Pagamento</a>
		      <a th:href="@{/ordini}" class="cta-button">Visualizza Ordini</a>
		    </div>
		  </section>
	
		<!--praticamente quando lo schermo diventa troppo piccolo questo script fa diminuire in automatico la navbar-->
		<script>
			function toggleMenu() {
				var navbar = document.getElementById('navbar');
				navbar.classList.toggle('responsive');
			}
		</script>
	</body>
</html>